{{ define "changepasswordform.html" }}
<html>
    {{ template "header.html" }}
    <body>
        {{ template "common_header.html" .}}
        <h2 class="text-center mt-5 greyBack">Change Password</h2>
        <div class="container w-50 form-container mt-5">
            <form action="/users/changepasswords" method="post"
                enctype="multipart/form-data">
                <label for="cpassword" class="mb-2 grey">Current Password</label>
                <input type="password" class="form-control fcon" id="cpassword"
                    name="cpassword">
                <p id="currentPasswordError" class="errorM" style="height: 1px;"></p>
                {{ with .Errors.CurrentPassword }}
                <script>
                    Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: '{{.}}'
                  });
                  </script>
                {{ end }}
                {{ with .Errors.CurrentPasswordEmpty }}
                <p class="errorM">{{.}}</p>
                {{ end }}

                <label for="password" class="mb-2 mt-2 grey">New Password</label>
                <input type="password" class="form-control fcon" id="password"
                    name="password">
                {{ with .Errors.PasswordEmpty }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                <p id="passwordError" class="errorM" style="height: 1px;"></p>
                <label for="ncpassword" class="mb-2 mt-2 grey">New Confirm
                    Password</label>
                <input type="password" class="form-control fcon" id="ncpassword"
                    name="ncpassword">
                {{ with .Errors.ConfirmPassword }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                {{ with .Errors.ConfirmPasswordEmpty }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                <p id="confirmPasswordError" class="errorM" style="height: 1px;"></p>

                <button class="btn btn-primary mt-3 ms-2 create-btn w-25"
                    type="submit" id="changePasswordBtn" disabled>Update
                    Password</button>
                <a class="btn btn-secondary cancel-btn mt-3 w-25" href="/posts/">Cancel</a>
            </form>
        </div>
        {{ template "footer.html" }}
        <script src="/static/js/changepassworderror.js"></script>
    </body>
</html>
{{ end }}