{{ define "create.html" }}
<html>
    {{ template "header.html" }}
    <body>
        {{ template "common_header.html" .}}
        <h2 class="text-center mt-5 greyBack">Post Create</h2>
        <div class="container w-50 form-container mt-5">
            <form action="/posts/" method="post" class="createForm"
                id="createForm">
                {{ template "postform.html" . }}
                <a class="btn btn-secondary cancel-btn mt-3" href="/posts/">Cancel</a>
                <button class="btn btn-primary mt-3 ms-2 create-btn"
                    onclick="showConfirmation()" type="button">Create</button>

            </form>

            <div id="overlay" class="overlay">
                <div class="confirmation">
                    <h3>Confirmation</h3>
                    <p>Title: <span id="confirmTitle"></span></p>
                    <p>Description: <span id="confirmDescription"></span></p>
                    <button class="btn btn-primary" onclick="confirmCreate()">Confirm</button>
                    <button class="btn btn-secondary" onclick="cancelCreate()">Cancel</button>
                </div>
            </div>
        </div>
        {{ template "footer.html" }}
    </body>
</html>
{{ end }}