{{ define "forgetpassword.html" }}
<html>
    {{ template "header.html" }}
    <body>
        {{ template "common_header.html" }}
        <h2 class="text-center mt-5 commonGrey">Forget Password</h2>
        <div class="container w-50">
            <form action="/forgetpassword/sendmail" method="post"
                class="forgetForm form-container">
                <label for="email" class="mb-2  grey">Email:</label>
                <input type="email" class="form-control fcon" id="email"
                    name="email">
                {{ with .Errors.NoEmail }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                <button class="btn btn-primary mt-3 w-25">Reset Password</button>
                <a href="/login" class="btn btn-secondary mt-3 w-25">Back</a>
            </form>
        </div>
        {{ template "footer.html" }}
    </body>
</html>
{{ end }}