{{define "index.html"}}
<html>
  {{ template "header.html" }}

  <body>
    {{template "common_header.html" .}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
    />
    <script>
      function sendDelete(event, href, id, title, description, status) {
        event.preventDefault();
        confirmDelete(id, title, description, status).then((result) => {
          if (result.value) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
              if (this.readyState !== 4) {
                return;
              }
              if (this.readyState === 4) {
                window.location.replace(this.responseURL);
              }
            };
            xhttp.open("DELETE", href, true);
            xhttp.send();
          }
        });
      }
    </script>
    {{if .IsLoggedIn}}
    <a href="posts/create/" class="btn btn-primary mt-5 ms-3">Create post</a>
    {{end}}
    <div class="container-fluid">
      <table class="table .table-responsive bs-table mt-5">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Posted User</th>
            <th scope="col">Posted Date</th>
            {{if .IsLoggedIn}}
            <th scope="col">Operation</th>
            {{end}}
          </tr>
        
        </thead>
        <tbody>
          {{if .IsLoggedIn}}
          <script>var rowIndex = 1;</script>
          {{range $index, $tag := .tags}}
          <tr class="post-row"
            data-post-title="{{.Title}}"
            data-post-description="{{.Description}}"
            data-post-status="{{.Status}}"
            data-post-created-at="{{.CreatedAt}}"
            data-post-created-by="{{.Creator}}"
            data-post-updated-at="{{.UpdatedAt}}"
            data-post-updated-by="{{.Updator}}"
            onclick="showPostDetail(
              this.getAttribute('data-post-id'),
              this.getAttribute('data-post-title'),
              this.getAttribute('data-post-description'),
              this.getAttribute('data-post-status'),
              this.getAttribute('data-post-created-at'),
              this.getAttribute('data-post-created-by'),
              this.getAttribute('data-post-updated-at'),
              this.getAttribute('data-post-updated-by')
          )"
            onmouseover="highlightRow(this)"
            onmouseout="unhighlightRow(this)"
          >
          <script>document.write('<th scope="row">' + rowIndex + '</th>'); </script>
            <td>{{.Title}}</td>
            <td>{{.Description}}</td>
            <td>{{.Creator}}</td>
            <td>{{.CreatedAt.Format "2006-01-02"}}</td>
            <!-- <td>{{.UpdatedAt.Format "2006-01-02"}}</td> -->
            <td>
              <a
                class="btn btn-outline-primary"
                href="/posts/update/{{.Id}}"
                onclick="event.stopPropagation();"
                >Edit</a
              >
              <a
                class="btn btn-outline-danger"
                href="/posts/{{.Id}}"
                onclick="sendDelete(event, this.href, '{{.Id}}', '{{.Title}}', '{{.Description}}', '{{.Status}}');event.stopPropagation();"
                >Delete</a
              >
            </td>
          </tr>
          <script>rowIndex++;</script>
        
          {{end}} {{else}}
          <script>var rowIndex = 1;</script>
           {{range $index, $tag := .tags}}
         
          <tr class="post-row"
            data-post-title="{{.Title}}"
            data-post-description="{{.Description}}"
            data-post-status="{{.Status}}"
            data-post-created-at="{{.CreatedAt}}"
            data-post-created-by="{{.Creator}}"
            data-post-updated-at="{{.UpdatedAt}}"
            data-post-updated-by="{{.Updator}}"
            onmouseover="highlightRow(this)"
            onmouseout="unhighlightRow(this)"
          >
          <script>document.write('<th scope="row">' + rowIndex + '</th>'); </script>
            <td>{{.Title}}</td>
            <td>{{.Description}}</td>
            <td>{{.Creator}}</td>
            <td>{{.CreatedAt.Format "2006-01-02"}}</td>
          </tr>
          <script>rowIndex++;</script>
          {{end}} {{end}}
        </tbody>
      </table>
    </div>
    {{ template "footer.html" }}
  </body>
</html>
{{end}}
