{{ define "login.html" }}
<html>
    {{ template "header.html" }}
    <body>
        {{ template "common_header.html" }}
        <h2 class="text-center mt-5 commonGrey">Login</h2>
        <div class="container w-50">
            <form action="/auth/login" method="post"
                class="loginForm form-container">
                <label for="email" class="mb-2 grey">Email:</label>
                <input type="email" class="form-control fcon" id="email"
                    name="email">
                {{ with .Errors.emailNeed }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                <!-- Email validation error message -->
                <p class="errorM" id="emailError"></p>
                <label for="password" class="mb-2 mt-3 grey">Password:</label>
                <input type="password" class="form-control fcon" id="password"
                    name="password">
                <p class="errorM" id="passwordError"></p>
                {{ if .Errors.passwordNeed }}
                {{ with .Errors.passwordNeed }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                {{ else }}
                {{ with .Errors.logFail }}
                <script>
                       Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '{{.}}'
                });
                </script>

                {{ end }}
                {{ end }}
                <button class="btn btn-primary mt-4 w-100" type="submit"
                    id="loginButton" disabled>Login</button>

                <div class="form-check d-inline ms-3 mt-3">
                    <input class="form-check-input ms-1 rm-check"
                        type="checkbox" id="remember" name="remember">
                    <label class="form-check-label mt-3 ms-2" for="remember">
                        Remember me
                    </label>
                </div>
                <a class="mt-3 fgp" href="/forgetpassword">Forget Password</a>
            </form>
        </div>
        {{ template "footer.html" }}


        <script>
            // Define the validation rules
            var constraints = {
                email: {
                    presence: {
                        allowEmpty: false,
                        message: "^Email is required"
                    },
                    email: true,
                    length: {
                maximum: 50,
                tooLong: "^Email is too long (maximum %{count} characters)"
            }
                },
                password: {
                    presence: {
                        allowEmpty: false,
                        message: "^Password is required"
                    },
                    length: {
                minimum: 6,
                maximum: 20,
                tooShort: "^Password is too short (minimum %{count} characters)",
                tooLong: "^Password is too long (maximum %{count} characters)"
            }
                }
            };

            // Get the email and password input elements
            var emailInput = document.getElementById('email');
            var passwordInput = document.getElementById('password');
            var loginButton = document.getElementById('loginButton');

            // Attach input event listeners to the email and password inputs
            emailInput.addEventListener('input', validateForm);
            passwordInput.addEventListener('input', validateForm);

            // Function to validate the form and enable/disable the login button
            function validateForm() {
                // Perform validation
                var validationResult = validate({
                    email: emailInput.value,
                    password: passwordInput.value
                }, constraints);

                // Clear previous error messages
                document.getElementById('emailError').textContent = '';
                document.getElementById('passwordError').textContent='';
                // Display validation errors, if any
                if (validationResult) {
            var emailErrors = validationResult.email;
            var passwordErrors = validationResult.password;

            if (emailErrors && emailErrors.length > 0) {
                document.getElementById('emailError').textContent = emailErrors[0];
                // document.getElementById('passwordError').style.display = 'none'; // Hide the password error message
            } else {
                document.getElementById('passwordError').textContent = passwordErrors ? passwordErrors[0] : '';
                // document.getElementById('passwordError').style.display = 'block'; // Show the password error message
            }
        }

        // Enable/disable the login button
        loginButton.disabled = !!(validationResult);
            }
        </script>
    </body>
</html>
{{ end }}
