
<label for="title" class="mb-2 grey">Title</label>
<input type="text" class="form-control fcon" id="title" name="title"
    value="{{ if .Tag.Title }}{{ .Tag.Title }}{{ end }}">
{{ with .Errors.Title }}
<p class="error" id="titleError">{{.}}</p>
{{ end }}

<label for="description" class="mt-3 mb-2 grey">Description</label>
<textarea name="description" class="form-control fcon" id="description"
    cols="30"
    rows="10">{{ if .Tag.Description }}{{ .Tag.Description }}{{ end }}</textarea>
{{ with .Errors.Description }}
<p class="error" id="descriptionError">{{ . }}</p>
{{ end }}
