{{ define "register.html" }}
<html>
  {{ template "header.html" }}

  <body>
    {{ template "common_header.html" }}
    <h2 class="text-center mt-5 commonGrey">Register</h2>
    <div class="container w-50">
      <form action="/auth/register" method="post"
        class="registerForm form-container" enctype="multipart/form-data">
        <input type="hidden" name="source" value="register" />
        <label for="username" class="mb-2 grey">Username</label>
        <input class="form-control fcon" type="text" id="username"
          name="username" />
        {{ with .Errors.Username }}
        <p class="errorM" id="userError">{{.}}</p>
        {{ end }}
        <p class="errorM" id="userError"></p>

        <label for="email" class="mb-2 mt-3 grey">Email</label>
        <input class="form-control fcon" type="email" id="email" name="email" />
        {{ with .Errors.Email }}
        <p class="errorM" id="emailError">{{.}}</p>
        {{ end }}
        <p class="errorM" id="emailError"></p>
        {{ with .Errors.EmailExists }}
        <script>
          Swal.fire({
       icon: 'error',
       title: 'Error',
       text: '{{.}}'
   });
   </script>
        {{ end }}

        <label for="password" class="mb-2 mt-3 grey">Password</label>
        <input class="form-control fcon" type="password" id="password"
          name="password" />
        {{ with .Errors.Password }}
        <p class="errorM" id="passwordError">{{.}}</p>
        {{ end }}
        <p class="errorM" id="passwordError"></p>

        <label for="password" class="mb-2 mt-3  grey">Password Confirmation</label>
        <input class="form-control fcon" type="password" id="confirmPassword"
          name="confirmPassword">
        {{ with .Errors.ConfirmPassword }}
        <p class="errorM" id="confirmPasswordError">{{.}}</p>
        {{ end }}

        <button type="submit" class="btn btn-primary mt-4 w-100"
          id="registerButton" disabled>Register</button>
      </form>
    </div>
    {{ template "footer.html" }}
    <script>
      // Define the validation rules
      var constraints = {
        username:{
          presence:{
            allowEmpty:false,
            message:"^Username is required"
          },
          length: {
                minimum: 4,
                maximum: 20,
                tooShort: "^Username is too short (minimum %{count} characters)",
                tooLong: "^Username is too long (maximum %{count} characters)"
            }
        },
          email: {
              presence: {
                  allowEmpty: false,
                  message: "^Email is required"
              },
              email: true,
              length: {
          maximum: 50,
          tooLong: "^Email is too long (maximum %{count} characters)"
      }
          },
          password: {
              presence: {
                  allowEmpty: false,
                  message: "^Password is empty"
              },
              length: {
          minimum: 6,
          maximum: 20,
          tooShort: "^Password is too short (minimum %{count} characters)",
          tooLong: "^Password is too long (maximum %{count} characters)"
      }
          }
      };


      var usernameInput=document.getElementById('username');
      var emailInput = document.getElementById('email');
      var passwordInput = document.getElementById('password');
      var registerButton = document.getElementById('registerButton');

      // Attach input event listeners to the email and password inputs
      emailInput.addEventListener('input', validateForm);
      usernameInput.addEventListener('input',validateForm);
      passwordInput.addEventListener('input', validateForm);


      function validateForm() {
          var validationResult = validate({
            username:usernameInput.value,
              email: emailInput.value,
              password: passwordInput.value
          }, constraints);

          // Clear previous error messages
          document.getElementById('emailError').textContent = '';
          document.getElementById('userError').textContent='';
          document.getElementById('passwordError').textContent='';
          if (validationResult) {
      var userErrors=validationResult.username;
      var emailErrors = validationResult.email;
      var passwordErrors = validationResult.password;

      if(userErrors &&  userErrors.length>0){
        document.getElementById('userError').textContent =userErrors?userErrors[0]:'';
      }
      else if (emailErrors && emailErrors.length > 0) {
          document.getElementById('emailError').textContent =emailErrors? emailErrors[0]:'';
      }
      else if(passwordErrors && passwordErrors.length>0){
          document.getElementById('passwordError').textContent = passwordErrors ? passwordErrors[0] : '';
      }
  }
  registerButton.disabled = !!(validationResult);
      }
  </script>
  </body>

</html>
{{ end }}