{{ define "resetpassword.html" }}
<html>
    {{ template "header.html" }}

    <body>
        {{ template "common_header.html" }}
        <h2 class="text-center mt-5 commonGrey">Reset Password</h2>
        <div class="container w-50">
            <form action="/resetPassword/{{.Token}}" method="post"
                class="form-container" enctype="multipart/form-data">
                <label for="password" class="mb-2 mt-3 grey">Password:</label>
                <input type="password" class="form-control fcon" id="password"
                    name="password">
                {{ with .Errors.PasswordEmpty }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                <label for="password" class="mb-2 mt-3 grey">Password
                    Confirmation:</label>
                <input type="password" class="form-control fcon" id="cpassword"
                    name="cpassword">
                {{ with .Errors.CPasswordEmpty }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                {{ with .Errors.NotMatch }}
                <p class="errorM">{{.}}</p>
                {{ end }}
                {{ if .Query.Get "error" }}
                <p class="errorM">{{index .Query "error" }}</p>
                {{ end }}
                <button class="btn btn-primary mt-3 w-25">Update Password</button>
                <a href="/login" class="btn btn-secondary mt-3 w-25">Back</a>
            </form>
        </div>
        {{ template "footer.html" }}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const urlParams = new URLSearchParams(window.location.search);
                const error = urlParams.get('error');


                if (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: error
                    });
                }
            });
        </script>
    </body>

</html>
{{ end }}