{{ define "usercreateform.html" }}
<html>
    {{ template "header.html" }}
    <body>
        {{ template "common_header.html" .}}
        <h2 class="text-center mt-5">User Create</h2>
        <div class="container w-50">
            <form action="/auth/register" method="post"
                class="createForm form-container"
                id="createUserForm" enctype="multipart/form-data">
                <input type="hidden" name="source" value="usercreateform">
                {{ template "userformcommon.html" . }}

                <button onclick="showUserConfirmation()" type="button"
                    class="btn btn-primary mt-5 w-25">Create</button>
                <a class="btn btn-secondary mt-5 w-25" href="/users">Cancel</a>

            </form>

            <div id="overlay" class="overlay">
                <div class="confirmation">
                    <h3>User Create Confirmation</h3>
                    <p>Username: <span id="confirmName"></span></p>
                    <p>Email: <span id="confirmEmail"></span></p>
                    <p>Type: <span id="confirmType"></span></p>
                    <p>Phone: <span id="confirmPhone"></span></p>
                    <p>Date Of Birth: <span id="confirmDob"></span></p>
                    <p>Address: <span id="confirmAddress"></span></p>
                    <button class="btn btn-primary"
                        onclick="confirmUserCreate()">Confirm</button>
                    <button class="btn btn-secondary"
                        onclick="cancelCreate()">Cancel</button>
                </div>
            </div>
        </div>
        {{ template "footer.html" }}
    </body>
</html>
{{ end }}