{{ define "userList.html" }}
<html>
    {{ template "header.html" }}
    <body>
        {{ template "common_header.html" }}
        <script
            src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
        <script>
        function sendDelete(event, href, id, title, description, status) {
            event.preventDefault();
            confirmDelete(id, title, description, status).then((result) => {
                if (result.value) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState !== 4) {
                            return;
                        }
                        if (this.readyState === 4) {
                            window.location.replace(this.responseURL);
                        }
                    };
                    xhttp.open("DELETE", href, true);
                    xhttp.send();
                }
            });
        }

        function confirmDelete(id, username, type, phone,dob,address) {
            var confirmMessage = "Are you sure you want to delete the following post? <br>";
            confirmMessage += "ID: " + id + "<br>";
            confirmMessage += "UserName: " + username + "<br>";
            confirmMessage += "Phone: " + phone + "<br>";
            confirmMessage += "Type: " + (type == 1 ? "Admin" : "User") + "<br>";


            return Swal.fire({
                title: 'Confirmation',
                html: confirmMessage,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Delete'
            });
        }
    </script>
        <a href="/users/create" class="btn btn-primary mt-5">Create User</a>
        <div class="container-fluid mt-5">
            <table class="table table-striped .table-responsive bs-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created User</th>
                        <th scope="col">Type</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Address</th>
                        <th scope="col">Created_date</th>
                        <th scope="col">Updated_date</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $user := .users}}
                    <tr>
                        <th scope="row">{{$index}}</th>
                        <td>{{.Username}}</td>
                        <td>{{if eq .Type "0"}}User{{else}}Admin{{end}}</td>

                        <td>{{.Phone}}</td>
                        {{if .Date_Of_Birth}}
                        <td>{{.Date_Of_Birth.Format "2006-01-02"}}</td>
                        {{else}}
                        <td></td>
                        {{end}}
                        <td>{{.Address}}</td>
                        <td>{{.CreatedAt.Format "2006-01-02"}}</td>
                        <td>{{ .UpdatedAt.Format "2006-01-02"}}</td>
                        <td>
                            <a class="btn btn-outline-primary"
                                href="/users/update/{{.Id}}">Edit</a>
                            <a class="btn btn-outline-danger"
                                href="/users/{{.Id}}"
                                onclick="sendDelete(event, this.href, '{{.Id}}', '{{.Username}}', '{{.Type}}', '{{.Phone}}',
                                '{{.Date_Of_Birth}}' , '{{.Address}}')">Delete</a>

                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        {{ template "footer.html" }}

    </body>
</html>
{{ end }}