{{define "common_header.html"}}
<div id="content-container"></div>
<nav class="navbar navbar-expand-lg nav-bg" style="position: fixed;
top: 0;
width: 100%;z-index: 999;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bulletin Board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item  me-2">
                    <a id="postsLink" class="nav-link nav-posts" href="/posts">Posts</a>
                </li>
                {{ if .IsLoggedIn }}
                <li class="nav-item me-4">
                    <a id="usersLink" class="nav-link nav-users" href="/users">Users</a>
                </li>
                {{end}}
                <li class="nav-item dropdown  me-5">
                    {{ if not .IsLoggedIn }}
                    <button class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Connect with Us
                    </button>
                    {{ else }}
                    <button class="btn btn-primary dropdown-toggle me-5"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <script>
                            var fullName = "{{.CurrentUser.Username}}";
                            var firstName = fullName.split(' ')[0];
                            document.write(firstName);
                        </script>
                    </button>

                    {{end}}
                    <ul class="dropdown-menu dropdown-menu-primary" style="z-index: 500;">
                        {{ if not .IsLoggedIn }}
                        <li><a class="dropdown-item" href="/register">Register</a></li>
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        {{ else }}
                        <li><a class="dropdown-item"
                                href="/users/profile">Profile</a></li>
                        <li><a class="dropdown-item"
                                href="/users/changepassword">Change Password</a></li>
                        <li style="position: relative;">
                            <a class="dropdown-item" href="#">
                                <form action="/auth/logout" method="post"
                                    style="display: inline-block; width: 100%; height: 100%;">
                                    <button type="submit"
                                        style="width: 100%; height: 100%; padding: 0; margin: 0; border: none; background: none; text-align: left;">
                                        Logout
                                    </button>
                                </form>
                            </a>
                        </li>

                        {{ end }}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
<script>
    // Get the current URL
    var currentUrl = window.location.href;

    // Target URLs for the Posts and Users links
    var postsUrl = "/posts";
    var usersUrl = "/users";

    // Get the link elements
    var postsLink = document.getElementById("postsLink");
    console.log(postsLink)
    var usersLink = document.getElementById("usersLink");
    console.log(usersLink)

    console.log(currentUrl)
    // Compare the current URL with the target URLs
    if (currentUrl.includes(postsUrl)) {
        console.log("post route correct")
        postsLink.classList.add("activeHead");
    } else if (currentUrl.includes(usersUrl)) {
      usersLink.classList.add("activeHead"); // Add the 'active' class to the Users link
      console.log("user route correct")
    }
  </script>
{{end}}
