{{ define "footer.html" }}
<footer class="text-center text-white foot-bg">
    <div class="container p-4">
        <section class>
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                        data-ripple-color="light">
                        <img
                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp"
                            class="w-100" />
                        <a href="#!">
                            <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                        data-ripple-color="light">
                        <img
                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp"
                            class="w-100" />
                        <a href="#!">
                            <div
                                class="mask"
                                style="background-color: rgba(255, 248, 248, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                        data-ripple-color="light">
                        <img
                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp"
                            class="w-100" />
                        <a href="#!">
                            <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                        data-ripple-color="light">
                        <img
                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp"
                            class="w-100" />
                        <a href="#!">
                            <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                        data-ripple-color="light">
                        <img
                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp"
                            class="w-100" />
                        <a href="#!">
                            <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                        data-ripple-color="light">
                        <img
                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp"
                            class="w-100" />
                        <a href="#!">
                            <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Copyright:
        <a class="text-white" href="https://scm-mm.com/en/">Meta Team
            Myanmar Co. Ltd. All Rights Reserved</a>
    </div>
</footer>
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/static/js/common.js"></script>

{{end}}
