{{ define "footer.html" }}
<footer>
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2023 Copyright:
    <a class="text-dark" href="https://nothing.com/">Meta Team Myanmar</a>
  </div>
  <!-- Copyright -->
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
  integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
  crossorigin="anonymous"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.js"></script>

{{end}}
