{{ define "header.html" }}
<head>
    <title>Bulletin Board</title>
    <link rel="stylesheet" href="/static/css/header.scss">
    <link rel="stylesheet" href="/static/css/create.scss">
    <link rel="stylesheet" href="/static/css/navfoot.scss">
    <link rel="stylesheet" href="/static/css/index.scss">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <script
        src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/postsearch.js"></script>
    <script src="/static/js/usersearch.js"></script>
    <script src="/static/js/showmsg.js"></script>
    <script src="/static/js/showmsguser.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
</head>
{{end}}