body {

    color: #4a3f3f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-container {
    border-radius: 5px;
    padding: 20px 35px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nav-posts,
.nav-users {
    display: block;
    padding: 3px 20px !important;
}

.nav-posts:hover,
.nav-users:hover {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
}

.nav-users.activeHead,
.nav-posts.activeHead {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
}

.errorM {
    color: #eb0808 !important;
}

.fcon {
    border: 1px solid #b9c5ea !important;
    margin-bottom: 8px !important;
}

.cancel-btn,
.create-btn {
    width: 17%;
}

.grey {
    color: #5e5a5a;
    font-size: 18px;
}

.commonGrey {
    color: #5e5a5a;
}

input[type=checkbox]:checked {
    background-color: #5e5a5a !important;
    border-color: #5e5a5a;
}

.pphoto {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    display: block;
    margin-top: 10px;
}

.text-center.text-primary.hgrey {
    color: #5e5a5a !important;
}

.text-center.mt-5.greyBack {
    color: #5e5a5a;
}

.edit,
.delete {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.pra {
    margin-top: 30px;
}

.tags {
    font-size: 20px;
    margin-right: 3%;
    margin-left: 20px;

}

.edit {
    background-color: #f17a09;
    color: #ffffff;
}

.delete {
    background-color: #f00b0b;
    color: #ffffff;
}

.pf-img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
    bottom: 73%;
    left: 35%;

}

.pf-container {
    position: relative;
    border-radius: 5px;
    margin: 150px auto 10px;
    padding: 50px 3px 30px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .i-con {
        margin-left: 1%;
        margin-top: 10%;
        letter-spacing: 1px;
        text-align: center;
        color: #5e5a5a;
    }

}

.search-container {
    width: 30%;
    display: inline-block;
    margin-left: 40%;
    position: absolute;
    top: 130px;
    z-index: 100;
}

.usearch {
    right: 60px;
}

.start-date-container,
.end-date-container {
    width: 20%;
    display: inline-block;
    position: absolute;

}

.start-date-container {
    top: 170px;
    left: 10px;
}

.end-date-container {
    top: 170px;
    left: 330px;
}

.date-search {
    position: absolute;
    top: 193px;
    left: 650px;
}

.userCon {
    margin-top: 150px;
}

.clearDatebtn {
    position: absolute;
    top: 240px;
    left: 10px;
}

.sform {
    width: 100%;
    display: block;
    background-color: red;
    padding: 30x 20px;
}

.noUser {
    color: #eb0808;
    display: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 40%;

}

#content-container {
    margin-top: 80px !important;
    /* Adjust the value to match the height of your fixed header */
}

#selectedPhoto {
    display: none;
}

.form-check-input.ms-1.rm-check {
    margin-top: 21px;
    border-color: #25bde7;
}

.mt-3.fgp {
    margin-left: 62%;
}