body {
    color: #4a3f3f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.edit,
.delete {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.pra {
    margin-top: 30px;
}

.tags {
    font-size: 20px;
    margin-right: 3%;
    margin-left: 20px;

}

.edit {
    background-color: #f17a09;
    color: #ffffff;
}

.delete {
    background-color: #f00b0b;
    color: #ffffff;
}